{% extends 'base.html' %}

{% block head %}
    {{ block.super }}
    <style>
        /* استایل جدول */
        .table-container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        /* استایل دکمه‌ها */
        .btn {
            margin-right: 5px;
        }

        /* استایل سرتیتر جدول */
        .table-header {
            font-size: 20px;
            margin-bottom: 10px;
        }
    </style>
{% endblock %}

{% block content %}
<div class="table-container">
    <h2 class="table-header">User Profiles</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Employee Side</th>
                <th>Hourly Salary</th>
                <th>Overtime Salary</th>
                <th>The Right of the Child</th>
                <th>Ben Kargari</th>
                <th>Right to Housing</th>
                <th>Base Years</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for profile in user_profiles %}
                <tr>
                    <td>{{ profile.employee_side }}</td>
                    <td>{{ profile.hourly_salary }}</td>
                    <td>{{ profile.overtime_salary }}</td>
                    <td>{{ profile.the_right_of_the_child }}</td>
                    <td>{{ profile.ben_kargari }}</td>
                    <td>{{ profile.right_to_housing }}</td>
                    <td>{{ profile.base_years }}</td>
                    <td>
                        <a href="{% url 'edit_profile' profile.pk %}" class="btn btn-primary">Edit</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'add_profile' %}" class="btn btn-success">Add New Profile</a>
</div>
{% endblock %}
