<!-- employee/add_employee.html -->

{% extends 'base.html' %}

{% block head %}
    {{ block.super }}
    <style>
        /* استایل فرم */
        .form-text {
            max-width: 400px;
            margin: 20px auto; /* افزودن فاصله از بالا */
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        /* استایل ورودی‌های فرم */
        .form-text input {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        /* استایل دکمه ارسال فرم */
        .form-text button {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 15px;
            border-radius: 4px;
            cursor: pointer;
        }

        /* تغییر رنگ دکمه هنگام هاور (hover) */
        .form-text button:hover {
            background-color: #0056b3;
        }
        
        /* اضافه کردن استایل به ورودی‌های فرم هنگام فوکوس */
        .form-text input:focus {
            outline: none;
            border-color: #007bff; /* یا رنگ دلخواه برای تغییر رنگ حاشیه */
            box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* یا هر جایگزین دیگری که دوست دارید */
        }
        
        /* استایل متن "Edit Employee" */
        .edit-employee-title {
            color: #007bff; /* یا رنگ دلخواه برای متن */
            font-size: 24px; /* یا اندازه دلخواه فونت */
            /* دیگر استایل‌های دلخواه خود را اضافه کنید */
        }

    </style>
{% endblock %}

{% block content %}
<div class="text">
<div class="container mt-5">
    <h2 class="mb-4 edit-employee-title">Edit Employee</h2>
    <form method="post" action="" class="form-text" class="text">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-group mt-3">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="cancel" class="btn btn-danger btn-cancel">Cancel</button>
        </div>
    </form>
</div>
</div>
{% endblock %}
