{% extends 'base.html' %}
{% load humanize %}

{% block head %}
<!-- The page title, which appears in the browser tab -->
<title>{{ username }}'s Dashboard</title>
<!-- The stylesheets to use for the page -->
<link href="/static/css/sb-admin-2.min.css" rel="stylesheet">
<link href="/static/css/dashboard/dashboard.css" rel="stylesheet">
{% endblock %}

{% block content %} 

<div class="container">
  <div class="section">
    
    <div id="section1">
      <div class="tester">
        <i class='bx bxs-user'></i>
        <div class="company-info">
          <p style="font-size: 25px;margin-bottom: 0rem;">{{ username }}</p>
          <p style="font-size: 13px;">...</p>
        </div>
      </div>
    </div>

      <div id="section2">
        <div class="tester">
          <i class='bx bx-money-withdraw'></i>    
        <div class="company-info">
          <p style="font-size: 22px;margin-bottom: 0rem;">{{ monthly_income_total }} R</p>
          <p style="font-size: 13px;">Total {% now "F" %} Salary</p>
        </div>
      </div>
    </div>

    <div id="section3">
      <div class="tester">
        <i class='bx bxs-calculator' ></i>     
          <div class="company-info">
            <p style="font-size: 22px;margin-bottom: 0rem;" >{{ monthly_expenses_total }} R</p>
            <p style="font-size: 13px;">total {% now "F" %} oustanding</p>
          </div>
        </div>
      </div>

    <div id="section4">
      <div class="tester">
        <i class='bx bxs-group'></i>
          <div class="company-info">
            <p style="font-size: 22px; margin-bottom: 0rem;">{{ current_user_employees }}</p>
            <p style="font-size: 13px;">Total Employee</p>
          </div>
      </div>
    </div>

  </div>
</div>

<div id="page-top">

  <div class="container-fluid">
    
    
    <div class="row">

      <!-- Area Chart -->
      <div class="col-xl-6 col-lg-6">
          <div class="card shadow mb-4">
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
                  <div class="dropdown no-arrow">
                      <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                          aria-labelledby="dropdownMenuLink">
                          <div class="dropdown-header">Dropdown Header:</div>
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                  </div>
              </div>
              <div class="card-body">
                  <div class="chart-area">
                      <canvas id="myAreaChart"></canvas>
                  </div>
              </div>
          </div>
      </div>
      
      <!-- Pie Chart -->
      <!-- TODO use fillform for this chart-->
      <div class="col-xl-6 col-lg-6">
          <div class="card shadow mb-4">
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
                  <div class="dropdown no-arrow">
                      <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                          aria-labelledby="dropdownMenuLink">
                          <div class="dropdown-header">Dropdown Header:</div>
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                  </div>
              </div>
              <div class="card-body">
                  <div class="chart-pie pt-4 pb-2">
                      <canvas id="myPieChart"></canvas>
                  </div>
                  <div class="mt-4 text-center small">
                      <span class="mr-2">
                          <i class="fas fa-circle text-primary"></i> Direct
                      </span>
                      <span class="mr-2">
                          <i class="fas fa-circle text-success"></i> Social
                      </span>
                      <span class="mr-2">
                          <i class="fas fa-circle text-info"></i> Referral
                      </span>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <span class="hidden"id="ccc">{{ monthly_payments.3 }}</span>


  <span class="hidden"id="1">{{ monthly_payments.0 }}</span>
  <span class="hidden"id="2">{{ monthly_payments.1 }}</span>
  <span class="hidden"id="3">{{ monthly_payments.2 }}</span>
  <span class="hidden"id="4">{{ monthly_payments.3 }}</span>
  <span class="hidden"id="5">{{ monthly_payments.4 }}</span>
  <span class="hidden"id="6">{{ monthly_payments.5 }}</span>
  <span class="hidden"id="7">{{ monthly_payments.6 }}</span>
  <span class="hidden"id="8">{{ monthly_payments.7 }}</span>
  <span class="hidden"id="9">{{ monthly_payments.8 }}</span>
  <span class="hidden"id="10">{{ monthly_payments.9 }}</span>
  <span class="hidden"id="11">{{ monthly_payments.10 }}</span>
  <span class="hidden"id="12">{{ monthly_payments.11 }}</span>
</div>

<!-- Page level plugins -->
<script src="/static/vendor/chart.js/Chart.min.js"></script>
<!-- Page level custom scripts -->
<script src="/static/js/demo/chart-area-demo.js"></script>
<script src="/static/js/demo/chart-pie-demo.js"></script>

<div class="start">
  <table class="blueTable">
    <thead>
      <tr>
        <th>Name</th>
        <th>pay date</th>
        <th>month target</th>
        <th>amount</th>
      </tr>
    </thead>

    <tbody>
      {% for record in payment_history %}
        <tr>
        <td>{{ record.salary_information.employee.name }}</td>
        <td>{{ record.payment_date }}</td>
        <td>{{ record.salary_information.salary_month | date:"F" }}</td>
        <td>{{ record.amount }} R</td></tr>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
    
{% endblock %}