{% extends 'base.html' %}

{% block head %}
<style>
.task-box {
  position: absolute;
  top: 2%; /* به جای 10px، درصد از ارتفاع صفحه */
  left: 70%;

  background-color: #be1818;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  width: 300px;
  margin: 20px;
}
body.dark .task-box {
  background-color: #333; /* مثال - رنگ مشکی برای Dark Mode */
  color: #fff; /* مثال - رنگ متن سفید در Dark Mode */
}
</style>
{% endblock %}



{% block content %}


<div class="task-box" id="task-box">
  <p>تسک: اینجا تسک مورد نظر قرار می‌گیرد.</p>
</div>

{% endblock %}

