{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Employees </title>

<!--TODO debug this after release
<link href="/static/css/Employees/employees.css" rel="stylesheet">
-->

	<script type="text/javascript">
		var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value; // Setting CSRF token
	</script>
	<meta name="csrf-token" content="{{ csrf_token }}"> <!-- CSRF token -->
	<link href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
	<link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css\jquery.dataTables.min.css' %}">
	<link rel="stylesheet" href= "{% static 'css\tables.css' %}">

{% endblock %}

{% block content %}

<div class="container w-full md:w-5/6 xl:w-5/6  mx-auto px-0">
	
    <h1 class="flex items-center font-sans font-bold break-normal text-indigo-500 px-2 py-8 text-xl md:text-2xl">
        Employee List
    </h1>

	<button class="bg-blue-500 text-white font-bold py-2 px-5 rounded mr-2 btt" onclick="redirectToGoogle()">
		New Employee
		</button>

    <div id='recipients' class="p-8 mt-6 lg:mt-0 rounded shadow bg-white mytable">
		<table id="example" class="stripe hover mytable" style="width:100%; padding-top: 0em;  padding-bottom: 1em;">
			<thead class="mytable">
				<tr class="mytable">
					<th>Employee Side</th>
                    <th>Hourly Salary</th>
                    <th>Overtime Salary</th>
                    <th>The Right of the Child</th>
                    <th>Ben Kargari</th>
                    <th>Right to Housing</th>
                    <th>Base Years</th>
                    <th>Actions</th>
				</tr>
			</thead>
			<tbody class="mytable">
                {% for profile in user_profiles %}
				<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %} " style="background-color: var(--mytable-color);color: var(--text-color);">
					<td>{{ profile.employee_side }}</td>
                    <td>{{ profile.hourly_salary }}</td>
                    <td>{{ profile.overtime_salary }}</td>
                    <td>{{ profile.the_right_of_the_child }}</td>
                    <td>{{ profile.ben_kargari }}</td>
                    <td>{{ profile.right_to_housing }}</td>
                    <td>{{ profile.base_years }}</td>

					


				<td class="action-buttons">
					<button class="edit-button" onclick="openEditForm({{ profile.pk }})">Edit</button>
					<button class="delete-button" data-profile-id="{{ profile.pk }}">Delete</button>

				</td>
			</tr>
			{% endfor %}
		</tbody>
</table>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
	if (typeof jQuery == 'undefined') {
		console.log('jQuery is not loaded');
	} else {
		console.log('jQuery is loaded');
	}
</script>

<!--Datatables -->
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
        


	<script>
		$(document).ready(function() {

			var table = $('#example').DataTable({
					responsive: true
				})
				.columns.adjust().responsive.recalc();
		});
	</script>
    <script>
        function openEditForm(employeeId) {
            window.location.href = 'edit/' + employeeId + '/';
        }
    </script>

	<script>
		function redirectToGoogle() {
			window.location.href = 'add/';
		}
	</script>
	
	<script type="text/javascript">
		var csrftoken = $('input[name="csrfmiddlewaretoken"]').val();
		var csrftoken = $("meta[name='csrf-token']").attr("content");

		$.ajaxSetup({
			beforeSend: function(xhr) {
				if (!this.crossDomain) {
					xhr.setRequestHeader("X-CSRFToken", csrftoken);
				}
			},
		});
	
		$('.delete-button').on('click', function () {
    var row = $(this).closest('tr');
    var profileId = $(this).data('profile-id');
    var csrftoken = $("[name=csrfmiddlewaretoken]").val(); // Get CSRF token

    if (confirm('Are you sure you want to delete this profile?')) {
        $.ajax({
            type: 'DELETE',
            url: '/fillform/delete/' + profileId, // Change the URL
            headers: {
                'X-CSRFToken': csrftoken
            },
            success: function (response) {
                // Check if the response contains a success message
                if (response.message) {
                    alert(response.message);
                    // Optionally, you can also remove the row from the table if deletion is successful
                    var table = $('#example').DataTable();
                    table.row(row).remove().draw(false);
                } else {
                    // Handle unexpected response
                    alert('Unexpected response from server.');
                }
            },
            error: function (xhr, status, error) {
                // Check if the response contains an error message
                if (xhr.responseJSON && xhr.responseJSON.message) {
                    alert(xhr.responseJSON.message);
                } else {
                    // Handle other errors
                    alert('An error occurred, please try again.');
                }
            }
        });
    }
});
	</script>

{% endblock %}
